<div style="text-align: center;">
    <hr>
    <p style="font-style: italic;font-size: 1rem;font-weight: bold;text-align: center;"><%= theme.reward_comment %></p>
    <img style="width: 60%;" src="<%= theme.wechatpay %>" alt="">
</div>